* {
    -webkit-tap-highlight-color: transparent;
}
input {
    -webkit-appearance: none;
}
img, a {
    -webkit-touch-callout: none;
}
body {
    /* 在body最外层设置为100% */
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    /* 水平居中对齐 */
    margin: 0 auto; 
    font-size: 14px;
    line-height: 1.5;
    font-family:  -apple-system, Helvetica, sans-serif;
    color: #666;
    background-color: #ccc;
    height: 2000px;
}
/* 去除图片防止在盒子中，铺不满盒子底部有空白条
    原因：基线对齐 */
img {
    vertical-align: middle;
}
a {
    color: #666;
    text-decoration: none;
}
/* 顶部区域 */
.app {
    height: 45px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.app ul li {
    float: left;
    height: 45px;
    /* 图片文字 水平、垂直居中 */
    text-align: center;
    line-height: 45px;
    background-color: #333333;

}
.app ul li:nth-child(1) {
    width: 8%;
}
.app ul li:nth-child(1) img{
    width: 10px;
    /* 这里由于图片较小，基线对齐视觉效果也基本是居中 */
}
.app ul li:nth-child(2) {
    width: 10%;
}
.app ul li:nth-child(2) img {
    width: 30px;
    /* 图片底部默认和行内框基线对齐 
       因此想要水平方向居中需要设置 二者居中对齐
    */
    vertical-align: middle;
}
.app ul li:nth-child(3) {
    width: 57%;

}
.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}
/* 搜索区域 */
.search-wrap {
    /* 固定定位默认位置：
       如果不设置top等内容，则保持原文档中的位置
       不过已经不占用布局空间，后面的元素会上来压在固定定位下面 */
    position: fixed;    
    /* 避免父子盒子外边距塌陷 */
    overflow: hidden;
    height: 44px;
    /* 固定定位的盒子一定要有宽度 */
    width: 100%;
    min-width: 320px;
    max-width: 640px;
}
.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}
.search-btn::before {
    content: '';
    display: block;
    /* 注意盒子的大小不代表背景图片的大小
       背景图片默认显示：原始图片大小 可以超出盒子范围
    */
    width: 20px;
    height: 18px;
    background: url(../images/s-btn.png);
    /* 设置背景图片的大小 */
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}
.serach-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    color: #fff;
    line-height: 44px;
}
.search {
    position: relative;
    height: 30px;
    margin: 7px 50px 0;
    border-radius: 15px;
    background-color: #fff;
}
.jd-icon {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 13px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}
/* 后面插入一条竖线 */
.jd-icon::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}
.sou {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    background: url(../images/jd-sprites.png) no-repeat -81px 0;
    background-size: 200px auto;
}
/* 主体区域 */
.slider img {
    width: 100%;
}
.brand {
    /* 切的是盒子 但是背景没有被切换 
       因此需要overflow:hidden,防止背景被溢出
       */
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
}
.brand div {
    /* 百分比可以出现小数，不限制小数点位数 */
    width: 33.33%;
    float: left;
}
.brand div img {
    width: 100%;
}
/* 导航区域 */
nav {
    overflow: hidden;
    padding: 5px;
}
nav a {
    /* 浮动自动变为bfc可以设置宽高
       无需再使用display转换行内为块
     */
    float: left;
    width: 20%;
    text-align: center;
}
nav a img {
    width: 40px;
    margin: 10px 0;
}
nav a span {
    display: block;
}
/* 新闻区域 */
.news {
    margin-top: 20px;
}
.news img{
    width: 100%;
}
.news a:nth-child(1) {
    width: 50%;
    float: left;
}
/* .news a:nth-child(2),
.news a:nth-child(3) {
    width: 25%;
    float: left;
} */
.news a:nth-child(n+2) {
    box-sizing: border-box;
    width: 25%;
    float: left;
    border-left: 1px solid #ccc;
}